# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entorns virtuals
venv/
.env

# Dades i models grans (important!)
data/
datasets/
checkpoints/

# Arxius temporals
*.log
*.tmp

# Altres
node_modules/
dist/
build/
